@{
    ViewData["Title"] = "Home Page";
}

<div>
    <!-- Main Home Content -->
    <div class="main-content">
        <div class="title">
            <h1>Sell your files online</h1>
            <p>Create, upload and get some money.</p>
        </div>
    </div>
    <!-- Top files with more downloads -->
    <div class="top-content">
        <div class="top-files-title">
            <h2>Most downloaded files</h2>
        </div>
        <div class="top-files" align="center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="box" align="center">
                            <img src="~/images/default_file_image.png" alt="Sample file" class="img-thumbnail">
                            <p>Sample file</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="box" align="center">
                            <img src="~/images/default_file_image.png" alt="Sample file" class="img-thumbnail">
                            <p>Sample file</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="box" align="center">
                            <img src="~/images/default_file_image.png" alt="Sample file" class="img-thumbnail">
                            <p>Sample file</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="box" align="center">
                            <img src="~/images/default_file_image.png" alt="Sample file" class="img-thumbnail">
                            <p>Sample file</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="box" align="center">
                            <img src="~/images/default_file_image.png" alt="Sample file" class="img-thumbnail">
                            <p>Sample file</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="box" align="center">
                            <img src="~/images/default_file_image.png" alt="Sample file" class="img-thumbnail">
                            <p>Sample file</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="box" align="center">
                            <img src="~/images/default_file_image.png" alt="Sample file" class="img-thumbnail">
                            <p>Sample file</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />