@{
    ViewData["Title"] = "Home Page";
}

<div>
    <!-- Main Home Content -->
    <div class="main-content">
        <div class="title">
            <h1>Sell your files online</h1>
            <p>The place that allows you to get money for your original work.</p>
        </div>
    </div>
</div>
