@charset "UTF-8";
/*
    MAIN STYLESHEET
    AUTHOR: DANIEL J. PEÑA
    TYPE: .SCSS
*/
@import url("https://fonts.googleapis.com/css?family=Arvo|Josefin+Sans|Karla|Kurale|Lora|Merriweather|Merriweather+Sans|Raleway|Raleway+Dots");
.main-content {
  text-align: center;
  margin-top: 1.25em;
  margin-bottom: 1.0em;
  padding-left: 0.30em;
  padding-right: 0.30em; }
  .main-content .title h1 {
    color: #24323D;
    font-size: 1.83rem;
    font-family: "Merriweather Sans", sans-serif; }
  .main-content .title p {
    color: #8AAEBE;
    font-size: 1.12rem;
    font-family: "Merriweather", serif; }
