/*
    MAIN STYLESHEET
    AUTHOR: DANIEL J. PEÑA
    TYPE: .SCSS
*/
@import url('https://fonts.googleapis.com/css?family=Arvo|Josefin+Sans|Karla|Kurale|Lora|Merriweather|Merriweather+Sans|Raleway|Raleway+Dots');

//Colors
$primary-color: #24323D;
$accent2-color: #202C36;
$secondary-color: #8AAEBE;
$accent-color: #868C8A;
$ligth-color: #F2E1C7;
$ligth2-color: #DACAB3;

//Fonts
$sans-josefin:'Josefin Sans', sans-serif;
$serif-merriweather: 'Merriweather', serif;
$sans-merriweather: 'Merriweather Sans', sans-serif;
$serif-arvo: 'Arvo', serif;
$serif-raleway: 'Raleway', sans-serif;
$coursive-raleway: 'Raleway Dots', cursive;
$serif-kurale: 'Kurale', serif;
$serif-karla: 'Karla', sans-serif;
$serif-lora: 'Lora', serif;

//RESET
body{
    margin:0px;
    padding:0px;
}
div{
    margin:0px;
    padding:0px;
}

//LAYOUT
.navbar-inverse{
    a{
        color:$ligth2-color;
    }
    a:hover{
        color:$secondary-color;
    }
}
//HOME
.main-content {
    text-align: center;
    margin-top: 1.25em;
    margin-bottom: 1.0em;
    padding-left: 0.30em;
    padding-right: 0.30em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;

    .title {
        h1 {
            color: $primary-color;
            font-size: 2.13rem;
            font-family: $sans-merriweather;
        }

        p {
            color: $secondary-color;
            font-size: 1.42rem;
            font-family: $serif-merriweather;
        }
    }
}
.top-content{
    padding-top:1.5em;
    padding-bottom:1.5em;
    background-color:$primary-color;
}
.top-files-title {
    margin-top: 0.7em;
    margin-left: 0.7em;
    margin-right: 0.7em;
    margin-bottom: 1.5em;
    padding-left: 2.5em;

    h2 {
        color: $primary-color;
        font-family: $sans-merriweather;
        font-weight: 600;
        font-size: 1.4em;
        color: $ligth2-color;
    }
}
.top-files {
    margin-bottom:1.7em;
    margin-top:1.0em;
    padding-left:2.0em;
    padding-right:2.0em;
    .box {
        width: 7.0em;
        height: 7.0em;
        -webkit-transition: width 0.2s; /* Safari */
        transition: width 0.2s;
        p{
            color:$primary-color;
            font-weight:300;
            color:$secondary-color;
        }
    }

    .box:hover {
        width: 7.6em;
        height: 7.6em;
        cursor:pointer;
        p{
            font-weight:600;
            color:white;
        }
    }
}

//REGISTER
.no-main-page {
    .page-title {
        margin-top: 2.0em;
        margin-bottom: 1.15em;
        color: $primary-color;
        font-family: $sans-merriweather;
        font-weight: 600;
        text-align: center;
    }

    .page-form {
        text-align: center;

        .form-subtitle {
            color: $secondary-color;
            font-weight: 200;
            font-family:$sans-josefin;
            padding: 0.7em;
        }

        .btn-onfile-main {
            background-color: $primary-color;
            color: $ligth2-color;
            -webkit-transition: width 0.2s; /* Safari */
            transition: width 0.2s;
        }

        .btn-onfile-main:hover {
            background-color: $accent2-color;
            color:white;
        }
        label{
            font-weight:600;
        }
    }
}

//PROFILE
.profile-box {
    display: flex;
    justify-content: center;
    height: 600px;

    .left-panel {
        border: 1px solid #fff;
        width: 30%;
        display: flex;
        justify-content: space-around;
        background-color: $primary-color;

        .up-content {
            margin: 1.4em;

            img {
                margin-top: 1.0em;
                border-radius: 50%;
                width: 10.4em;
                height: 10.4em;
                text-align: center;
            }

            .fullname {
                p {
                    margin-top: 0.9em;
                    margin-bottom: 0em;
                    font-family: $sans-josefin;
                    font-size: 1.4rem;
                    font-weight: 600;
                    color: $ligth-color;
                    text-align: center;
                }
            }

            .description {
                p {
                    text-align: center;
                    color: gray;
                }
            }

            .top-info {
                .number {
                    font-weight: 600;
                    font-family: $sans-josefin;
                    font-size: 1.0rem;
                    color: $ligth-color;
                }

                .text {
                    font-weight: 300;
                    font-family: $sans-josefin;
                    font-size: 1.0rem;
                    color: white;
                }
            }
        }
    }

    .content {
        border: 1px solid #fff;
        width: 70%;
        display: flex;
        justify-content: space-around;
        background-color: white;

        .title {
            margin-top: 1.0em;
            margin-bottom: 1.0em;
            padding-left: 2.0em;
            font-family: $sans-merriweather;
            font-weight: 600;
            font-size: 1.5rem;
        }

        .my-uploaded-files{
            margin-left:2.0em;
            margin-right:2.0em;
            text-align:center;
        }
    }
}

//UPLOAD
.upload-box {
    margin-top:3.0em;
    .up-content {
        margin-top: 6.0em;
        margin-bottom: 2.0em;
        text-align: center;

        .title {
            color: $primary-color;
            font-family: $sans-merriweather;
            text-align: center;
        }

        .description {
            color: $secondary-color;
            font-family: $sans-josefin;
            font-size: 1.4rem;
            text-align: center;
        }
    }
}